/*
Theme Name: Nola
Theme URI:
Version: 1.0.0
Author:
Author URI:
License: GNU General Public License
Text Domain: nola
*/

body.admin-bar header.site-header {
    top: 32px;
}

.article-content__title-img picture,
.article-content__title-img img {
    max-height: 480px;
}